# Dependencias
node_modules
npm-debug.log

# Build
dist
build

# Git
.git
.gitignore

# Variables de entorno
.env
.env.local
.env.development

# IDE
.vscode
.idea
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Documentación
README.md
docs

# Tests
test
coverage